.footer-block{
    position: absolute;
    bottom :0;
    width:100%;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    color: #777;
}
.seat-box{
    display:inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}
.seat-box-booked{
    background-color: #00d42e !important;
    color: #fff !important;
}
.seat-box-selected{
    background-color: #00bcd4 !important;
    color: #fff !important;
}
.seat-box-disabled{
    background-color: #eee;
    color: #777;
}
.seat-box:hover{
    background-color: #00bcd4;
    color: #fff;
}

.no-display{
    display:none;
}

/* disable hovering */
.disabled:hover{
    cursor: default;
}